%h1 Listing projects

%table.table
  %tr
    %th Name
    %th
    %th

  - @projects.each do |project|
    %tr
      %td= project.name
      %td= link_to 'Show', project_tasks_path(project)
      %td= link_to 'Edit', edit_project_path(project)
%br

= link_to 'New Project', new_client_project_path
