// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task{
  color: #F00;
}

.log{
  color: #0F0;
}

.client, a.client{
  color: #00F;
}

.project{
  color: #F0F;
}
